@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

* {
  font-family: "Space Grotesk", ui-sans-serif, system-ui, sans-serif !important;
}

body {
  font-family: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}
.blink-red-border {
  border: 2px solid #ef5858 !important;
  /* Optional: add a subtle background for more visibility */
  background-color: #f4f1f1 !important;
}
/* Hide horizontal scrollbar but allow scrolling */
.custom-scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
.react-select__menu-list {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.react-select__menu-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}