@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

* {
  font-family: "Space Grotesk", ui-sans-serif, system-ui, sans-serif !important;
}

body {
  font-family: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}
